
.body{
  background-image: url(/images/phone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  }


#show-contact {
    display: none;
  }

  .delvic{
    font-size: 30px;
  }
  
  .flx{
    display: flex;
    flex-direction: row;
    padding-left: vw;
    justify-content: space-evenly;
    color: rgb(70, 127, 134);
    cursor: pointer;
    }

    .sub{
      display: inline-block;
      
    }

    

    .hidden1 {
      display: none;
    }
  
    .hidden2 {
      display: none;
    }
  
    .hidden3 {
      display: none;
    }


    #contacts {
      font-size: xx-large;
      font-weight: 400;
      list-style:decimal-leading-zero;
      
    }

    #show-contact {
      margin-top: 20px;
      background-color:white;
      padding: 15px;
      border-radius: 7%;
      border: 2px solid darkgrey;
    }

    #contacts :hover {
      cursor: pointer;
      color: white;
      shape-outside: border-box;
      box-shadow: black;
      text-shadow: black;
    }
  
  